@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --font-family: "Roboto", sans-serif;

    --primary: #DC0A2D;
    --dark: #212121;
    --medium: #666666;
    --grayscale: #B8B8B8;
    --light: #E0E0E0;
    --background: #EFEFEF;
    --white:  #FFFFFF;

    --headline: 2rem;
    --subtitle-3: 0.625rem;
    --subtitle-2: 0.75rem;
    --subtitle-1: 0.875rem;
    --font-weight-bold: bold;

    --body-3:  0.625rem;
    --body-2:  0.75rem;
    --body-1:  0.875rem;
    --caption:  0.5rem;
    --font-weight-regular: 400;

    --box-shadow-inset: inset 0rem 0.0625rem 0.125rem var(--medium);
    --box-shadow: 0rem 0rem 0.1875rem 0.1875rem rgba(0, 0, 0, 0.139);
}

html {
    scrollbar-width: none;
}

body {
    font-family: var(--font-family);

    user-select: none;
}

ol {
    list-style: none;
}


@media screen and (min-width: 768px) {
    :root {
        --box-shadow-left: inset 0.0625rem 0 0.125rem var(--medium);
        --box-shadow-right: inset -0.0625rem 0 0.125rem var(--medium);

    }
}