@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --font-family: "Roboto", sans-serif;

    --primary: #DC0A2D;
    --dark-color: #212121;
    --medium: #666666;
    --grayscale: #B8B8B8;
    --light: #E0E0E0;
    --background: #EFEFEF;
    --white:  #FFFFFF;

    --headline: 2rem;
    --subtitle-3: 0.625rem;
    --subtitle-2: 0.75rem;
    --subtitle-1: 0.875rem;
    --font-weight-bold: bold;

    --body-3:  0.625rem;
    --body-2:  0.75rem;
    --body-1:  0.875rem;
    --caption:  0.5rem;
    --font-weight-regular: 400;

    --box-shadow-inset: inset 0rem 0.0625rem 0.125rem var(--medium);
    --box-shadow: 0rem 0rem 0.1875rem 0.1875rem rgba(0, 0, 0, 0.139);


    /* Cores principais (você já deve ter essas) */
    --grass: #9bcc50;
    --fire: #fd7d24;
    --water: #4592c4;
    --bug: #729f3f;
    --normal: #AAA67F;
    --poison: #b97fc9;
    --electric: #eed535;
    --ground: #f7de3f;
    --fairy: #fdb9e9;
    --fighting: #d56723;
    --psychic: #f366b9;
    --rock: #a38c21;
    --ghost: #7b62a3;
    --dragon: #53a4cf;
    --ice: #51c4e7;
    --steel: #9eb7b8;
    --dark: #707070;

    /* NOVAS CORES LIGHT (Ajuste o valor rgba para a transparência que desejar, 0.3 a 0.5 é bom para "leve") */
    --grass-light: rgba(155, 204, 80, 0.4);
    --fire-light: rgba(253, 125, 36, 0.4);
    --water-light: rgba(69, 146, 196, 0.4);
    --bug-light: rgba(114, 159, 63, 0.4);
    --normal-light: hsla(54, 20%, 58%, 0.4);
    --poison-light: rgba(185, 127, 201, 0.4);
    --electric-light: rgba(238, 213, 53, 0.4);
    --ground-light: rgba(247, 222, 63, 0.4);
    --fairy-light: rgba(253, 185, 233, 0.4);
    --fighting-light: rgba(213, 103, 35, 0.4);
    --psychic-light: rgba(243, 102, 185, 0.4);
    --rock-light: rgba(163, 140, 33, 0.4);
    --ghost-light: rgba(123, 98, 163, 0.4);
    --dragon-light: rgba(83, 164, 207, 0.4);
    --ice-light: rgba(81, 196, 231, 0.4);
    --steel-light: rgba(158, 183, 184, 0.4);
    --dark-light: rgba(112, 112, 112, 0.4);

}

html {
    scrollbar-width: none;
}

body {
    font-family: var(--font-family);

    user-select: none;
}

ol {
    list-style: none;
}


@media screen and (min-width: 768px) {
    :root {
        --box-shadow-left: inset 0.0625rem 0 0.125rem var(--medium);
        --box-shadow-right: inset -0.0625rem 0 0.125rem var(--medium);

    }
}