header {
    width: 100%;
    padding: 0.75rem 0.75rem 1.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;    

    span {

        display: flex;
        flex-direction: row;
        align-items: center;
        height: 2rem;
        gap: 1rem;
        


        svg {
            max-width: 1.5625rem;
            max-height: 1.5625rem;

            image {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        h1 {
            color: var(--white);
            font-size: var(--headline);
            font-weight: var(--font-weight-bold);
        }
    }

    .box-input {
        max-width: 24.3125rem;
        height: 2rem;
        gap: 1rem;
        display: flex;
        flex-direction: row;

        position: relative;

        label {
            width: 100%;
            height: 100%;
            background-color: var(--white);
            border-radius: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            box-shadow: var(--box-shadow-inset);
            padding: 0.75rem 0.5rem;
            cursor: pointer;

            img {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0.125rem 0 0 0;
            }

            input {
                border: none;
                outline: none;
            }

            
            
        }

        
        button {
            width: 2rem;
            height: 2rem;
            padding: 0.5rem;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
            color: var(--primary);
            box-shadow: var(--box-shadow-inset);

            span > img {
                width: 1rem;
                height: 1rem;
            } 

        }

        button:hover {
            box-shadow: var(--box-shadow);            
        }

    }

    .box-input > label:hover {
        box-shadow: var(--box-shadow);
    }

    .box-select{
        display: none;
        position: absolute;
        right: 0.75rem;
        top: 5.625rem;

        .select {
            width: 7.0625rem;
            height: 8.25rem;
            display: flex;
            flex-direction: column;
            padding: 0 0.25rem 0.25rem;
            border-radius: 0.5rem;
            background-color: var(--primary);
            box-shadow: var(--box-shadow-inset);

            span {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;
                padding: 1.25rem 1rem;
                height: 3rem;
                color: var(--white);
                font-size: var(--subtitle-2);
                font-weight: var(--font-weight-bold);
            }
            

            .form {
                height: 5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                background-color: var(--white);
                box-shadow: var(--box-shadow-inset);
                gap: 1rem;
                padding: 1.25rem 1rem;
                border-radius: 0.5rem;

                label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: var(--subtitle-3);
                    font-weight: var(--font-weight-regular);

                    input[type="radio"] {
                        accent-color:var(--primary); 
                        width: 1.2em; 
                        height: 1.2em;
                        cursor: pointer;
                    
                    }


                }
               

            }
        }
    }
 
}

@media screen and (min-width: 48rem) {
    header {
        width: 100%;
        padding: 1.5rem 0.75rem 1.5rem 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;   
        align-items: center;
        

        span {

            display: flex;
            flex-direction: row;
            align-items: center;
            height: 2rem;
            gap: 1rem;
            margin: 0 auto;
            width: 24.3125rem;
            


            svg {
                max-width: 1.5625rem;
                max-height: 1.5625rem;

                image {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }

            h1 {
                color: var(--white);
                font-size: var(--headline);
                font-weight: var(--font-weight-bold);
            }
        }

        .box-input {
            max-width: 24.3125rem;
            height: 2rem;
            gap: 1rem;
            display: flex;
            flex-direction: row;
            position: relative;
            margin: 0 auto;
            width: 24.3125rem;

            label {
                width: 100%;
                height: 100%;
                background-color: var(--white);
                border-radius: 1rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;
                box-shadow: var(--box-shadow-inset);
                padding: 0.75rem 0.5rem;
                cursor: pointer;

                img {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0.125rem 0 0 0;
                }

                input {
                    border: none;
                    outline: none;
                }
                
            }

            button {
                width: 2rem;
                height: 2rem;
                padding: 0.5rem;
                border-radius: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;
                color: var(--primary);
                box-shadow: var(--box-shadow-inset);

                span {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }



            }

        }

        .box-select{
            width: 24.3125rem;
            display: none;
            position: inherit;
            justify-content: right;
            
            .select {
                width: 11rem;
                height: 5.25rem;
                display: flex;
                flex-direction: row;
                padding: 0 0 0;
                border-radius: 0.5rem;
                background-color: var(--primary);
                box-shadow: var(--box-shadow-left);

                span {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: left;
                    padding: 1.25rem 1rem;
                    height: 100%;
                    color: var(--white);
                    font-size: var(--subtitle-2);
                    font-weight: var(--font-weight-bold);
                }
                

                .form {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    background-color: var(--white);
                    box-shadow: var(--box-shadow-right);
                    gap: 1rem;
                    padding: 1.25rem 1rem;
                    border-radius: 0.5rem;

                    label {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.5rem;
                        font-size: var(--subtitle-3);
                        font-weight: var(--font-weight-regular);

                        input[type="radio"] {
                            accent-color:var(--primary); 
                            width: 1.2em; 
                            height: 1.2em;
                            cursor: pointer;
                        
                        }


                    }
                

                }

            }
            
        }
    
    }
}