main {
    width: 100%;
    height: 100vh;

    .content-pokemon {
        width: 100%;
        height: 100%;
        background-color: var(--white);
        border-radius: 0.5rem;
        box-shadow: var(--box-shadow-inset);
        overflow-y: hidden;

        .box-pokemon {
            width: 100%;
            height: 100%;
            padding: 1.5rem 0.75rem 0;
            overflow-y: scroll;    


            ol {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 0.5rem;

                li {
                    width: 6.5rem;
                    height: 6.75rem;
                    display: flex;
                    flex-direction: column;
                    border-radius: 0.4375rem;
                    box-shadow: var(--box-shadow);
                    overflow: hidden;
                    
                    
                    span:nth-child(1){
                        height: 1rem;
                        text-align: right;
                        padding: 0.25rem 0.5rem 0 0.5rem;
                        font-size: var(--caption);
                        color: var(--medium);
                        
                    }

                    img {
                        width: 4.5rem;
                        height: 4.5rem;
                        margin: 0 auto;
                        z-index: 10;
                    }

                    span:nth-of-type(2){
                        background-color: var(--background);
                        margin-top: -1.5rem;
                        height: 2.75rem;
                        display: flex;
                        align-items: end;
                        justify-content: center;
                        border-radius: 0.4375rem;
                        font-size: var(--body-3);
                        color: var(--dark);
                        padding-bottom: 0.25rem;
                        
                    }
                    
                }

                li:hover {
                    box-shadow: var(--box-shadow-inset);
                    padding: 0 0.0625rem;
            
                    img {
                        width: 4.4rem;
                        height: 4.4rem;
                        margin: 0 auto;
                        z-index: 10;
                    }
                    
            
                    span:nth-of-type(2) {
                        width: 100%;
                        margin-top: -1.4rem;
                        height: 2.74rem;
                        box-shadow: inset 0.0625rem -0.5625rem 0.25rem -0.5625rem var(--medium);
                        padding-bottom: 0.27rem;
                    
                    }


                }

            }
        } 
    }

    /* area of component details cards*/

    .pokemon-details {
        width: 100%;
        height: 100%;

        .content-details {
            width: 100%;
            height: 13.75rem;
            background: 
            linear-gradient(rgba(184, 184, 184, 0.7), rgba(184, 184, 184, 0.7)),
            url(../assets/ico/pokeball-ffff.svg) no-repeat top right;
            background-size: calc(100% - 40%);


            .box-one-details {
                height: 4.8125rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 1.25rem 1.25rem 1.5rem 1.25rem;
                gap: 0.5rem;


                span:nth-child(1) {
                    width: 2rem;
                    height: 2rem;
                    filter: drop-shadow(0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.443));
                    cursor: pointer;

                    img {
                        width:2rem;
                        height: 2rem;
                    }
    
                }

                span:nth-child(2){
                    width: 100%;
                    height: 2rem;
                    display: flex;
                    align-items: end;
                
                    h1 {
                        font-size: var(--headline);
                        color: var(--white);

                    }
                    
                }

                span:nth-child(3){
                    width: 2.0625rem;
                    height: 1rem;
                    display: flex;
                    align-items: self-start;
                    font-size: var(--subtitle-2);
                    color: var(--white);
                    font-weight: var(--font-weight-bold);
                }

                


            }

            .box-second-details {
                width: 100%;
                height: 9rem;
                display: flex;
                align-items: end;
                justify-content: space-between;
                padding: 1rem 1.25rem;

                span > img {
                    width: 1.5rem;
                    height: 1.5rem;
                    filter: drop-shadow(0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.443));
                    cursor: pointer;

                }
                
            }


            .box-third-details {
                margin-top: -9rem;
                margin-top: -9rem;
                margin: -9rem auto 0;
                width: 12.5rem;
                height: 12.5rem;
            }

        }


        .details {
            background-color: var(--white);
            border-radius: 0.5rem;
            box-shadow: var(--box-shadow-inset);
            padding: 3.5rem 1.25rem 1.25rem 1.25rem;
            display: flex;
            flex-direction: column;
            gap: 1.375rem;
            height: 67%;

            .type {
                width: 100%;
                height: 1.25rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                span {
                    width: 2.625rem;
                    height: 1.25rem;
                    padding: 0.25rem 0.5rem;
                    border-radius: 0.625rem;
                    background-color: var(--medium);
                    color: var(--white);
                    font-size: var(--subtitle-3);
                    font-weight: var(--font-weight-bold);
                    text-align: center;
                }
            }


            .about {
                width: 100%;
                height: 1rem;
                text-align: center;
                background-color: var(--white);

                span {
                    font-size: var(--subtitle-1);
                    font-weight: var(--font-weight-bold);
                    background-color: var(--white);
                }
            }

            .ability {
                width: 100%;
                height: 3rem;
                column-count: 3;
                column-rule: 0.0625rem solid var(--grayscale);

                div {
                    
                    width: 6.4375rem;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;



                    span:nth-child(1) {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 1rem;
                            height: 1rem;

                        }

                        span {
                            width: 2.4375rem;
                            height: 2rem;
                            padding-top: 0.125rem;
                            padding-left: 0.1875rem;
                            font-size: var(--body-3);
                            align-content: center;
                            font-weight: var(--font-weight-regular);
                            color: var(--dark);
                        }
                    }

                    span:nth-child(2) {
                        font-size: var(--caption);
                        font-weight: var(--font-weight-regular);
                        color: var(--medium);
                        text-align: center;
                    }
                }

                div:nth-of-type(2) > span > img {
                    rotate: 90deg;
                }
            } 



            p {
                font-size: var(--body-3);
                font-weight: var(--font-weight-regular);
                color: var(--dark);
                height: 3.75rem;
                align-content: center;

            }

            .frame {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;

                ol:nth-child(1){
                    padding: 0 0.25rem 0 0;

                    li {
                        font-size: var(--subtitle-3);
                        font-weight: var(--font-weight-bold);
                        text-align: right;
                        align-content: center;
                        height: 1rem;
                    }
                }

                ol:nth-of-type(2){
                    padding: 0 0 0 0.25rem;

                    li {
                        font-size: var(--subtitle-3);
                        font-weight: var(--font-weight-regular);
                        color: var(--dark);
                        text-align: right;
                        align-content: center;
                        height: 1rem;
                    }
                }


                span {
                    display: inline-block;
                    height: 6rem;
                    width: 0.125rem;
                    background-color: var(--grayscale);
                }



                ol:nth-of-type(3){
                    width: 100%;
                    

                    li {
                        width: 100%;
                        height: 1rem;
                        display: flex;
                        align-items: center;
                        /* padding-top: 0.3125rem; */
                        
                        input[type="range"] {
                            width: 100%;
                            height: 0.125rem;
                            background: var(--grayscale);
                            border-radius: 0.25rem;
                            cursor: pointer;

                            appearance: none;

                        }

                        input[type="range"]::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            
                        }

                    }
                }
            }



        }

    }

}

@media screen and (min-width: 25.75rem) {
    main > .pokemon-details > .details {
        padding: 3.5rem 1.25rem 0rem 1.25rem;
        justify-content: space-evenly;
        height: 76%;
    }
}


@media screen and (min-width: 48rem) {
    main {
        width: 100%;
        height: auto;

        .content-pokemon {
            max-width: 38.75rem;
            max-height: 31.25rem;
            background-color: var(--white);
            border-radius: 0.5rem;
            box-shadow: var(--box-shadow-inset);
            overflow-y: hidden;
            margin: auto;

            .box-pokemon {
                width: 100%;
                height: 100%;
                padding: 0.75rem 0.75rem 0.75rem 1rem;
                overflow-y: scroll;
                scrollbar-width: none;   


                ol {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                    gap: 0.5rem;

                    li {
                        width: 6.5rem;
                        height: 6.75rem;
                        display: flex;
                        flex-direction: column;
                        border-radius: 0.4375rem;
                        box-shadow: var(--box-shadow);
                        
                        
                        span:nth-child(1){
                            height: 1rem;
                            text-align: right;
                            padding: 0.25rem 0.5rem 0 0.5rem;
                            font-size: var(--caption);
                            color: var(--medium);
                            
                        }

                        img {
                            width: 4.5rem;
                            height: 4.5rem;
                            margin: 0 auto;
                            z-index: 10;
                        }

                        span:nth-of-type(2){
                            background-color: var(--background);
                            margin-top: -1.5rem;
                            height: 2.75rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 0.4375rem;
                            font-size: var(--body-3);
                            color: var(--dark);
                            padding-bottom: inherit;
                            padding-top: 1.25rem;
                        }
                        
                    }


                    li:hover {
                        box-shadow: var(--box-shadow-inset);
                        padding: 0 0.0625rem;


                        img {
                            width: 4.4rem;
                            height: 4.4rem;
                            margin: 0 auto;
                            z-index: 10;
                        }
                        
                
                        span:nth-of-type(2) {
                            width: 100%;
                            margin-top: -1.4rem;
                            height: 2.74rem;
                            box-shadow: inset 0.0625rem -0.5625rem 0.25rem -0.5625rem var(--medium);
                            padding-top: 1.1875rem;
                        
                        }

                    }


                }
            } 
        }

        /* area of component details cards*/

        .pokemon-details {
            width: 38.75rem;
            height: 100%;
            margin: auto;

            .content-details {
                width: 100%;
                height: 13.75rem;
                background: linear-gradient(rgba(184, 184, 184, 0.7), 
                rgba(184, 184, 184, 0.7)), 
                url(../assets/ico/pokeball-ffff.svg) no-repeat 22.875rem;
                background-size: calc(100% - 65%);

                .box-one-details {
                    height: 4.8125rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 1.25rem 1.25rem 1.5rem 1.25rem;
                    gap: 0.5rem;


                    span:nth-child(1) {
                        width: 2rem;
                        height: 2rem;
                        filter: drop-shadow(0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.443));

                        img {
                            width:2rem;
                            height: 2rem;
                        }

                    }

                    span:nth-child(2){
                        width: 100%;
                        height: 2rem;
                        display: flex;
                        align-items: end;
                    
                        h1 {
                            font-size: var(--headline);
                            color: var(--white);

                        }
                        
                    }

                    span:nth-child(3){
                        width: 2.0625rem;
                        height: 1rem;
                        display: flex;
                        align-items: self-start;
                        font-size: var(--subtitle-2);
                        color: var(--white);
                        font-weight: var(--font-weight-bold);
                    }

                    


                }

                .box-second-details {
                    width: 100%;
                    height: 9rem;
                    display: flex;
                    align-items: end;
                    justify-content: space-between;
                    padding: 1rem 1.25rem;

                    span > img {
                        width: 1.5rem;
                        height: 1.5rem;
                        filter: drop-shadow(0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.443));
                    }
                    
                }


                .box-third-details {
                    margin-top: -9rem;
                    margin-top: -9rem;
                    margin: -9rem auto 0;
                    width: 12.5rem;
                    height: 12.5rem;
                }

            }


            .details {
                background-color: var(--white);
                border-radius: 0.5rem;
                box-shadow: var(--box-shadow-inset);
                padding: 3.5rem 1.25rem 0.5625rem 1.25rem;
                display: flex;
                flex-direction: column;
                gap: 0.625rem;
                height: 49.5625rem;

                .type {
                    width: 100%;
                    height: 1.25rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    span {
                        width: 2.625rem;
                        height: 1.25rem;
                        padding: 0.25rem 0.5rem;
                        border-radius: 0.625rem;
                        background-color: var(--medium);
                        color: var(--white);
                        font-size: var(--subtitle-3);
                        font-weight: var(--font-weight-bold);
                        text-align: center;
                    }
                }


                .about {
                    width: 100%;
                    height: 1rem;
                    text-align: center;
                    background-color: var(--white);

                    span {
                        font-size: var(--subtitle-1);
                        font-weight: var(--font-weight-bold);
                        background-color: var(--white);
                    }
                }

                .ability {
                    width: 100%;
                    height: 3rem;
                    column-count: 3;
                    column-rule: 0.0625rem solid var(--grayscale);

                    div {
                        
                        width: 6.4375rem;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        margin: auto;



                        span:nth-child(1) {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 1rem;
                                height: 1rem;

                            }

                            span {
                                width: 2.4375rem;
                                height: 2rem;
                                padding-top: 0.125rem;
                                padding-left: 0.1875rem;
                                font-size: var(--body-3);
                                align-content: center;
                                font-weight: var(--font-weight-regular);
                                color: var(--dark);
                            }
                        }

                        span:nth-child(2) {
                            font-size: var(--caption);
                            font-weight: var(--font-weight-regular);
                            color: var(--medium);
                            text-align: center;
                        }
                    }

                    div:nth-of-type(2) > span > img {
                        rotate: 90deg;
                    }
                } 



                p {
                    font-size: var(--body-3);
                    font-weight: var(--font-weight-regular);
                    color: var(--dark);
                    height: 3.75rem;
                    align-content: center;

                }

                .frame {
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;

                    ol:nth-child(1){
                        padding: 0 0.25rem 0 0;

                        li {
                            font-size: var(--subtitle-3);
                            font-weight: var(--font-weight-bold);
                            text-align: right;
                            align-content: center;
                            height: 1rem;
                        }
                    }

                    ol:nth-of-type(2){
                        padding: 0 0 0 0.25rem;

                        li {
                            font-size: var(--subtitle-3);
                            font-weight: var(--font-weight-regular);
                            color: var(--dark);
                            text-align: right;
                            align-content: center;
                            height: 1rem;
                        }
                    }


                    span {
                        display: inline-block;
                        height: 6rem;
                        width: 0.125rem;
                        background-color: var(--grayscale);
                    }



                    ol:nth-of-type(3){
                        width: 100%;
                        

                        li {
                            width: 100%;
                            height: 1rem;
                            display: flex;
                            align-items: center;
                            /* padding-top: 0.3125rem; */
                            
                            input[type="range"] {
                                width: 100%;
                                height: 0.125rem;
                                background: var(--grayscale);
                                border-radius: 0.25rem;
                                cursor: pointer;

                                appearance: none;

                            }

                            input[type="range"]::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                appearance: none;
                                
                            }

                        }
                    }
                }



            }

        }


    }
}

@media screen and (min-width: 64rem) and (orientation: landscape){

    main > .pokemon-details > .details {
        height: initial;
    }
    
}

@media screen and (min-width: 64rem) and (min-height: 50rem) {
    main > .pokemon-details > .details {
        height: 70vh;
    }
}