main {
    width: 100%;
    height: 99vh;

    .content-pokemon {
        width: 100%;
        height: 100%;
        background-color: var(--white);
        border-radius: 0.5rem;
        box-shadow: var(--box-shadow-inset);
        overflow-y: hidden;

        .box-pokemon {
            width: 100%;
            height: 100%;
            padding: 1.5rem 0.75rem 0;
            overflow-y: scroll;    


            ol {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 0.5rem;

                li {
                    width: 6.5rem;
                    height: 6.75rem;
                    display: flex;
                    flex-direction: column;
                    border-radius: 0.4375rem;
                    box-shadow: var(--box-shadow);
                    overflow: hidden;
                    
                    
                    span:nth-child(1){
                        height: 1rem;
                        text-align: right;
                        padding: 0.25rem 0.5rem 0 0.5rem;
                        font-size: var(--caption);
                        color: var(--medium);
                        
                    }

                    img {
                        width: 4.5rem;
                        height: 4.5rem;
                        margin: 0 auto;
                        z-index: 10;
                    }

                    span:nth-of-type(2){
                        background-color: var(--background);
                        margin-top: -1.5rem;
                        height: 2.75rem;
                        display: flex;
                        align-items: end;
                        justify-content: center;
                        border-radius: 0.4375rem;
                        font-size: var(--body-3);
                        color: var(--dark);
                        padding-bottom: 0.25rem;
                        
                    }
                    
                }

                li:hover {
                    box-shadow: var(--box-shadow-inset);
                    padding: 0 0.0625rem;
            
                    img {
                        width: 4.4rem;
                        height: 4.4rem;
                        margin: 0 auto;
                        z-index: 10;
                    }
                    
            
                    span:nth-of-type(2) {
                        width: 100%;
                        margin-top: -1.4rem;
                        height: 2.74rem;
                        box-shadow: inset 0.0625rem -0.5625rem 0.25rem -0.5625rem var(--medium);
                        padding-bottom: 0.27rem;
                    
                    }


                }

            }
        } 
    }


    /* area of new component*/

    .pokemon-details {
        width: 100%;

        .test {
            width: 100%;
             background: 
            linear-gradient(rgba(184, 184, 184, 0.7), rgba(184, 184, 184, 0.7)),
            url(../assets/ico/pokeball-ffff.svg) no-repeat top right;
            background-size: calc(100% - 40%);


            .box-one-details {
                height: 77px;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 20px 20px 24px 20px;
                gap: 8px;


                span:nth-child(1) {
                    width: 32px;
                    height: 32px;
                    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.443));

                    img {
                        width:32px;
                        height: 32px;
                    }
    
                }

                span:nth-child(2){
                    width: 100%;
                    height: 32px;
                    display: flex;
                    align-items: end;
                
                    h1 {
                        font-size: var(--headline);
                        color: var(--white);

                    }
                    
                }

                span:nth-child(3){
                    width: 33px;
                    height: 16px;
                    display: flex;
                    align-items: self-start;
                    font-size: var(--subtitle-2);
                    color: var(--white);
                    font-weight: var(--font-weight-bold);
                }

                


            }

            .box-second-details {
                width: 100%;
                height: 144px;
                display: flex;
                align-items: end;
                justify-content: space-between;
                padding: 16px 20px;

                span > img {
                    width: 24px;
                    height: 24px;
                    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.443));
                }
                
            }


            .box-third-details {
                margin-top: -144px;
                margin-top: -144px;
                margin: -144px auto 0;
                width: 200px;
                height: 200px;
            }

        }


        .details {
            background-color: var(--white);
            margin-top: -56px;
            border-radius: 8px;
            box-shadow: var(--box-shadow-inset);
        }

    }


}

@media screen and (min-width: 48rem) {
    main {
        width: 100%;
        height: auto;

        .content-pokemon {
            max-width: 38.75rem;
            max-height: 31.25rem;
            background-color: var(--white);
            border-radius: 0.5rem;
            box-shadow: var(--box-shadow-inset);
            overflow-y: hidden;
            margin: auto;

            .box-pokemon {
                width: 100%;
                height: 100%;
                padding: 0.75rem 0.75rem 0.75rem 1rem;
                overflow-y: scroll;
                scrollbar-width: none;   


                ol {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                    gap: 0.5rem;

                    li {
                        width: 6.5rem;
                        height: 6.75rem;
                        display: flex;
                        flex-direction: column;
                        border-radius: 0.4375rem;
                        box-shadow: var(--box-shadow);
                        
                        
                        span:nth-child(1){
                            height: 1rem;
                            text-align: right;
                            padding: 0.25rem 0.5rem 0 0.5rem;
                            font-size: var(--caption);
                            color: var(--medium);
                            
                        }

                        img {
                            width: 4.5rem;
                            height: 4.5rem;
                            margin: 0 auto;
                            z-index: 10;
                        }

                        span:nth-of-type(2){
                            background-color: var(--background);
                            margin-top: -1.5rem;
                            height: 2.75rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 0.4375rem;
                            font-size: var(--body-3);
                            color: var(--dark);
                            padding-bottom: inherit;
                            padding-top: 1.25rem;
                        }
                        
                    }


                    li:hover {
                        box-shadow: var(--box-shadow-inset);
                        padding: 0 0.0625rem;


                        img {
                            width: 4.4rem;
                            height: 4.4rem;
                            margin: 0 auto;
                            z-index: 10;
                        }
                        
                
                        span:nth-of-type(2) {
                            width: 100%;
                            margin-top: -1.4rem;
                            height: 2.74rem;
                            box-shadow: inset 0.0625rem -0.5625rem 0.25rem -0.5625rem var(--medium);
                            padding-top: 1.1875rem;
                        
                        }

                    }


                }
            } 
        }
    }
}