.primary { 
   color: #DC0A2D;
   background-color: #DC0A2D; 
}

.gray-scale {
   background-color: #B8B8B8;
   color: #B8B8B8;
}

.bug {
   color: #A7B723;
   background-color: #A7B723;
}

.dark {
   color: #75574C;
   background-color: #75574C;
}

.dragon {
   color: #7037FF;
   background-color: #7037FF;
}

.electric {
    color: #F9CF30;
    background-color: #F9CF30;
 }

.fairy {
   color: #E69EAC;
   background-color: #E69EAC;
}

.fighting  {
   color: #C12239;
   background-color: #C12239;
}

.fire {
   color: #F57D31;
   background-color: #F57D31;
}

.flying {
   color: #A891EC;
   background-color: #A891EC;
}

.ghost {
   color: #70559B;
   background-color: #70559B;
}

.normal {
   color: #AAA67F;
   background-color: #AAA67F;
}

.grass {
   color: #74CB48;
   background-color: #74CB48;
}

.ground {
    color: #DEC16B;
    background-color: #DEC16B;
}

.ice {
   color: #9AD6DF;
   background-color: #9AD6DF;
}

.poison {
   color: #A43E9E;
   background-color: #A43E9E;
}

.psychic {
   color: #FB5584;
   background-color: #FB5584;
}

.rock {
   color: #B69E31;
   background-color: #B69E31;
}

.steel {
   color: #B7B9D0;
   background-color: #B7B9D0;
}

.water {
   color: #6493EB;
   background-color: #6493EB;
}

.hidden {
   display: none;
}