.Bug {
   color: #A7B723;
}

.Dark {
   color: #75574C;
}

.Dragon {
   color: #7037FF;
}

.Electric {
    color: #F9CF30;
 }

 .Fairy {
   color: #E69EAC;
}

.Fighting  {
   color: #C12239;
}

.Fire {
   color: #F57D31;
}

.Flying {
   color: #A891EC;
}

.Ghost {
   color: #70559B;
}

.Normal {
   color: #AAA67F;
}

.Grass {
    color: #74CB48;
}

.Ground {
    color: #DEC16B;
}

.Ice {
   color: #9AD6DF;
}

.Poison {
   color: #A43E9E;
}

.Psychic {
   color: #FB5584;
}

.Rock {
   color: #B69E31;
}

.Steel {
   color: #B7B9D0;
}

.Water {
   color: #6493EB;
}

.hidden {
   display: none;
}